/* --- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0EBD8
    
   }

   html {
    scroll-behavior: smooth;
   }

   body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

   /* --- styling Navbar --- */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    background-color: #F0EBD8;
    color: #1D2D44;
    width: 100%;
   }

   .nav-list a {
    color: rgb(7, 6, 4);
   }

   .list {
    display: flex;
    font-size: 15px;
    align-items: center;
   }
   .list li:hover {
    background-color: #F0EBD8;
    border-radius: 5px;

   }
   .list li {
    padding: 5px 14px;
   }

.intro {
    display: flex;
    align-self: stretch;
    background-color: #1D2D44;
    color:#F0EBD8;
    text-align: center;
    font-size: 30px;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;

}

.textintro {
    background-color: #1D2D44;
    line-height: 80px;
}

.foto2 {
    width: 100vw;
    height: auto;
    border-radius: 1.5rem 6rem 3rem;
    padding: auto;
    align-items: center;
    justify-content: center;
    margin-block: 1rem;
    }

.subtitle {
    font-size: 30px;
    color: #1D2D44;
    text-align: center;
}

/* -- portfolio style -- */

.fotos {
    display: flex;
    align-items: center;
    justify-content: center;
}
.portfolio__img {
    width: 40vw; 
    display: flex;
}
.portfolio > h2 {
    text-align: center;
    line-height: 140%;
    margin-bottom: 10%;
    border: 1px solid #1D2D44;
    background-color: #1D2D44;
    color: #F0EBD8;
}

    /* --- jugando con flexbox --- */

.fototexto {
    display: flex;
    flex-direction: column;
}
.features {
display: flex;
flex-direction: column;
}
.features p {
    font-style: italic;
}

.subtitle {
    margin-bottom: 5%;
    border: 1px solid #1D2D44;
    color: #F0EBD8;
    background-color: #1D2D44;
}



@media (min-width: 768px) and (max-width: 1200px) {
    .intro {
        height: 100vh;
        width: 100vw;  
        font-size: 60px;
    }

    .foto2 {
    width: 50%;
    height: 50%;
    border-radius: 25%;
    padding: auto;
    }


    .fotos > .column {
        display: flex;
        width: 100%;
        padding: 5%;
    }
    }