* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F0EBD8
   }

   body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
   }
   a {
    text-decoration: none;
   }
   li {
    list-style: none;
   }

.fotos {
    display: flex;
    flex-direction: column;
}
.portfolio__img {
    width: 100%;
}

 /* NAVBAR STYLING STARTS */

 .navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: #F0EBD8;
    color: #1D2D44;
   }

   .nav-list a {
    color: rgb(7, 4, 6);
   }

   .list {
    display: flex;
    gap: 1em;
    font-size: 18px;
   }
   .list li:hover {
    background-color: #F0EBD8;
    border-radius: 5px;
    transition: 0.3s ease;
   }
   .list li {
    padding: 5px 14px;
   }